@charset "utf-8";/* Intro */
#intro { position: absolute; top: 0; right: 0; width: 100%; height: 100vh; background: #fff; z-index: 10000; } 
#intro.off { display: none; } 
#intro span.intro-bg { position: absolute; top: 0; right: 0; width: 100%; height: 100%; animation: intro-size 1s 1.1s normal forwards; } 
#intro span.intro-bg::before { position: absolute; top: 0; left: 0; height: 100%; animation: intro-bg 1s normal forwards; background: #41478f; background-image: linear-gradient(-40deg, #41478f 35%, #c1445a); content: ''; } 

/* Main Visual */
#visual { position: relative; width: calc(100% - 70px); height: 100vh; margin-left: 70px; overflow: hidden; box-sizing: border-box; } 
#visual div.video-box { position: absolute; top: 120px; left: 0; width: auto; height: calc(100% - 200px); } 
#visual div.video-box a { position: absolute; bottom: -50px; left: 50px; width: 100px; height: 100px; background: #fff; box-shadow: 0px 15px 15px rgba(0,0,0,0.15); z-index: 50; } 
#visual div.video-box a span { display: inline-block; position: relative; top: 70px; font-size: 1.3rem; letter-spacing: 1.5px; text-align: center; } 
#visual div.video-box a span.stop { display: block; } 
#visual div.video-box a span.stop::after { position: absolute; bottom: 30px; left: 50%; width: 32px; height: 30px; background: url(../img/sp_com.png) -46px -41px; transform: translate(-50%, 0); content: ''; } 
#visual div.video-box a span.play { display: none; } 
#visual div.video-box a.on span.stop { display: none; } 
#visual div.video-box a.on span.play { display: block; } 
#visual div.video-box a.on span.play::after { position: absolute; bottom: 30px; left: 50%; width: 32px; height: 30px; background: url(../img/sp_com.png) -46px -71px; transform: translate(-50%, 0); content: ''; } 
#visual div.video-box video { height: 100%; } 

#visual div.quick-menu { position: absolute; top: 0; right: 0; width: 35%; height: 100%; background-image: 0; background-image: linear-gradient(120deg, #41478f 35%, #c1445a); transition: all .6s; } 
#visual div.quick-menu > a { position: absolute; top: 50%; left: -50px; width: 100px; height: 100px; background: #27272f; transform: translate(0, -50%); box-shadow: 0px 15px 15px rgba(0,0,0,0.15); z-index: 100; } 
#visual div.quick-menu > a span { display: inline-block; position: relative; top: 70px; font-size: 1.3rem; letter-spacing: 1.5px; text-align: center; color: #fff; } 
#visual div.quick-menu > a span::before,
#visual div.quick-menu > a span::after { position: absolute; left: 40%; width: 20px; height: 1px; background: #fff; transition: all .5s; content: ''; } 
#visual div.quick-menu > a span::before { transform: rotate(-40deg) scaleX(.7); bottom: 49px; } 
#visual div.quick-menu > a span::after { transform: rotate(40deg) scaleX(.7); bottom: 40px; } 
#visual div.quick-menu > a.active span::before { transform: rotate(40deg) scaleX(.7); } 
#visual div.quick-menu > a.active span::after { transform: rotate(-40deg) scaleX(.7); } 
#visual div.quick-menu > a span.open { display: block; } 
#visual div.quick-menu > a span.close { display: none; } 

#visual div.quick-menu div.text-box { position: absolute; top: 50%; left: 100px; color: #fff; transform: translate(0, -70%); z-index: 50; } 
#visual div.quick-menu div.text-box em { display: block; margin-bottom: 20px; font-size: 8rem; } 
#visual div.quick-menu div.text-box span { font-size: 5rem; } 
#visual div.quick-menu div.text-box span.text01 { display: block; } 
#visual div.quick-menu div.text-box span.text02 { display: none; } 

#visual div.quick-menu div.icon-box { position: absolute; top: 50%; left: 45%; visibility: hidden; transform: translate(0, -70%); z-index: 50; } 
#visual div.quick-menu div.icon-box ul { font-size: 0; } 
#visual div.quick-menu div.icon-box ul li { display: inline-block; width: 20%; font-size: 1.4rem; text-align: center; color: #fff; margin: 35px 0; } 
#visual div.quick-menu div.icon-box ul li a { display: block; padding-top: 55px; background-repeat: no-repeat; background-position: 50% 0; background-size: 48px 49px; } 
#visual div.quick-menu div.icon-box ul li:nth-child(1) a { background-image: url(../img/img_link01.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(2) a { background-image: url(../img/img_link02.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(3) a { background-image: url(../img/img_link03.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(4) a { background-image: url(../img/img_link04.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(5) a { background-image: url(../img/img_link05.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(6) a { background-image: url(../img/img_link06.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(7) a { background-image: url(../img/img_link07.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(8) a { background-image: url(../img/img_link08.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(9) a { background-image: url(../img/img_link09.svg); } 
#visual div.quick-menu div.icon-box ul li:nth-child(10) a { background-image: url(../img/img_link10.svg); } 
#visual div.quick-menu div.icon-box ul li a:hover { opacity: .7; } 


#visual div.dokdo-img { position: absolute; bottom: 0; width: 100%; height: 364px; background: url(../img/img_dokdo.png) no-repeat 100% 0; z-index: 10; } 
#visual div.dokdo-img::after { position: absolute; width: 100%; height: 100%; background: url(../img/img_cloud.png) no-repeat 95% 50%; animation: cloud 5s 2s infinite; content: ''; } 

#visual div.quick-menu.on { width: 80%; } 
#visual div.quick-menu.on::after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/bg_link.png) no-repeat 0 100%; content: ''; } 
#visual div.quick-menu.on > a span.open { display: none; } 
#visual div.quick-menu.on > a span.close { display: block; } 
#visual div.quick-menu.on div.text-box span.text01 { display: none; } 
#visual div.quick-menu.on div.text-box span.text02 { display: block; } 
#visual div.quick-menu.on div.icon-box { visibility: visible; } 


/* Main Common */
#main { padding: 0 70px; } 
article { float: left; position: relative; } 
div.inner { position: relative; max-width: 1400px; margin: 0 auto; } 
div.title-box { position: absolute; top: 70px; left: 0; } 
div.title-box strong { padding-top: 5px; border-top: 1px solid #000; font-size: 1.2rem; font-weight: 400; letter-spacing: 2px; } 
div.title-box h2 { margin-top: 25px; font-size: 2.4rem; font-weight: 600; } 
div.title-box p { margin-top: 40px; font-size: 1.5rem; color:#8b8b8b; } 
div.title-box a.more-btn { position: relative; display: block; width: 23px; height: 23px; margin-top: 40px; } 
div.title-box a.more-btn::after { position: absolute; top: 0; left: 50%; width: 1px; height: 100%; background: #bebed3; content: ''; } 
div.title-box a.more-btn span { position: absolute; top: 50%; left: 0; width: 100%; height: 1px; background:#bebed3; } 

/* Notice */
#notice { background: linear-gradient(to right, #f4f4f9 30%, #f9fafa 100%); } 
#notice dl { position: relative; margin-left: 300px; } 
#notice dl dt { position: absolute; left: -115px; width: 115px; line-height: 50px; border-bottom: 1px solid #eee; box-sizing: border-box; font-size: 1.5rem; color: #444; transition: all .3s; } 
#notice dl dt:nth-of-type(1) { top: 70px; } 
#notice dl dt:nth-of-type(2) { top: 140px; } 
#notice dl dt:nth-of-type(3) { top: 210px; } 
#notice dl dt.on { left: -80px; border-bottom: none; background: #41478f; color: #fff; box-shadow: 0 15px 15px rgba(65,71,143,.2); } 
#notice dl dt > a { display: block; padding-left: 15px; } 
#notice dl dd { display: none; padding: 70px 10px 70px 40px; background: #f9fafa; font-size: 0; } 
#notice dl dd > a { display: inline-block; /*position: relative; */ width: 33.3333%; height: 230px; padding-left: 40px; box-sizing: border-box; vertical-align: top; font-size: 1.5rem; } 
#notice dl dd > a strong.title span { display: block; height: 4.5em; font-size: 1.8rem; font-weight: 600; line-height: 1.5em; overflow: hidden; text-overflow: ellipsis; } 
#notice dl dd > a p.text { height: 5.1em; line-height: 1.7em; overflow: hidden; text-overflow: ellipsis; color: #666; } 
#notice dl dd > a span.date { position: absolute; bottom: 70px; color: #9a9a9a; } 

#group01 { background: linear-gradient(to right, #fff 30%, #f6f1f2 100%); } 
#group02 article { height: 525px; font-size: 1.5rem; } 

/* Event */
#event { background: #fff; width: 50%; } 
#event ul { margin-left: 185px; padding: 60px 30px 60px 0; font-size: 0; } 
#event ul li { display: inline-block; width: 50%; height: 285px; padding-right: 30px; box-sizing: border-box; vertical-align: top; } 
#event ul li a { display: block; position: relative; width:100%; height:100%; padding: 70px 25px 0; border: 1px solid #e1e1e1; box-sizing: border-box; transition: all .3s; } 
#event ul li a::after { position: absolute; bottom: 30px; right: 30px; width: 21px; height: 6px; background: url(../img/sp_com.png) 0 -29px; content: ''; } 
#event ul li a strong.title { display: block; height: 80px; line-height: 1.7; font-size: 1.5rem; } 
#event ul li a p.text { font-size: 1.5rem; } 
#event ul li a span.date { position: absolute; top: 0; left: 0; padding: 10px; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; font-size: 1.8rem; color: #7d7fa2; transition: all .3s; } 
#event ul li a:hover { border: 1px solid #41478f; background: #41478f; color: #fff; box-shadow: 5px 15px 15px rgba(65, 71, 143, .2); } 
#event ul li a:hover span { border-right: 1px solid #2b317d; border-bottom: 1px solid #2b317d; color: #c2c6f3; } 

/* Banner */
#banner { background: #f6f1f2; width: 50%; } 
#banner div.title-box { margin-left: 40px; } 
#banner div.banner-slider { margin-left: 185px; padding: 60px 0; } 
#banner div.banner-slider div.box { position: relative; height: 285px; overflow: hidden; } 
#banner div.banner-slider ul.banner { position: absolute; top: 0; left: 0; width: 3000px; } 
#banner div.banner-slider ul.banner li { float: left; margin-right: 18px; } 
#banner div.banner-slider ul.banner li a { display: block; } 
#banner div.banner-slider p.control { position: absolute; bottom: 65px; left: -35px; width: 190px; background: #d84351; text-align: center; box-shadow: 0 15px 15px rgba(216,67,81,.2); } 
#banner div.banner-slider p.control a { display: block; float: left; width: 50%; padding: 20px 0; transition: all .3s; text-indent: -9999px; overflow: hidden; } 
#banner div.banner-slider p.control a.prev { position: relative; border-right:1px solid rgba(229, 142, 150, .28); box-sizing: border-box; } 
#banner div.banner-slider p.control a.next { position: relative; } 
#banner div.banner-slider p.control a.next::after,
#banner div.banner-slider p.control a.prev::after { position: absolute; top: 50%; left: 50%; width: 32px; height: 6px; background: url(../img/sp_com.png) no-repeat -23px -25px; transform: translate(-50%, -50%); content: ''; } 
#banner div.banner-slider p.control a.next::after { background-position: -23px -33px; } 
#banner div.banner-slider p.control a:hover { background: #c03441; } 

/* Live */
#live { width: 50%; } 
#live div.live-show { float: left; width: 45%; height: 100%; padding: 60px 40px; color: #fff; text-align: center; background: #41478f; box-sizing: border-box; } 
#live div.live-show h2 { position: relative; padding-top: 60px; font-size: 1.5rem; } 
#live div.live-show h2::after { position: absolute; top: 0; left: 50%; width: 38px; height: 50px; background: url(../img/sp_com.png) no-repeat 0 -49px; transform: translateX(-50%); content: ''; } 
#live div.live-show div.broadcast { width: 100%; height: 180px; margin: 30px 0; background: url(../img/img_live01.jpg) no-repeat 0 0; background-size: cover; } 
#live div.live-show p.text { line-height: 1.6; } 
#live div.live-info { position: relative; float: left; width: 55%; height: 100%; background:url(../img/bg_live.jpg) no-repeat 100% 0; background-size:cover; } 
#live div.live-info div.box { position: absolute; bottom: 0; left: 0; width: 250px; height: 250px; padding: 50px 30px; background: #fff; box-sizing: border-box; } 
#live div.live-info div.box p { color: #666; } 
#live div.live-info div.box p + p { margin-top: 30px; } 
#live div.live-info div.box p span { color: #41478f; } 

/* Magazin */
#magazin { position: relative; width: 20%; background: #fff; } 
#magazin div.title-box { margin-left: 40px; width: calc(100% - 40px); } 
#magazin div.title-box a.more-btn { position: absolute; top: 0; right: 40px; margin-top: 0; } 
#magazin div.e-book { position: absolute; bottom: 0; left: 0; width: 100%; height: 188px; background: #d84351; color: #fff; } 
#magazin div.e-book a.book-box { position: absolute; bottom: 50px; width: 100%; padding: 25px 0; text-align: center; } 
#magazin div.e-book a.book-box span.book-image { overflow: hidden; display: block; position: relative; width: 164px; height: 225px; margin: 30px auto; background: url(../img/img_magazin.jpg) no-repeat 0 0; } 
#magazin div.e-book a.book-box span.book-image::after { position: absolute; bottom: 0; left: 0; width: 100%; height: 0; line-height: 255px; background: rgba(0,0,0,.4); color: #fff; opacity: 0; transition: all .5s; content: 'Detail View'; } 
#magazin div.e-book a.book-box:hover span.book-image::after { height: 100%; opacity: 1; } 
#magazin div.e-book a.book-box span.book-title { font-size: 1.8rem; } 
#magazin div.e-book div.link { position: absolute; bottom: 0; width: 100%; } 
#magazin div.e-book div.link a { display: block; float: left; width: 50%; padding: 15px 0; border-top: 1px solid #e95563; text-align: center; transition: all .4s; } 
#magazin div.e-book div.link a:first-child { border-right: 1px solid #e95563; box-sizing: border-box; } 
#magazin div.e-book div.link a:hover { background: #c03441; } 

/* Location */
#location { position: relative; width: 30%; padding: 65px 0 0 40px; background: #fff url(../img/bg_road.gif) no-repeat 0 100%; box-sizing: border-box; } 
#location::after { position: absolute; bottom: 160px; left: 15px; width: 232px; height: 98px; background: url(../img/img_road01.png) no-repeat 0 0; content: ''; } 
#location h2 { font-size: 2.2rem; font-weight: 700; } 
#location p.text { margin-top: 20px; line-height: 1.7; color:#666; } 
#location p.office { position: absolute; bottom: 30px; line-height: 1.7; font-size: 1.6rem; color: #fff; } 
#location p.office a { font-size: 2rem; font-weight: 700; } 
#location a.page-move { display: block; position: absolute; top: 50%; right: 0; width: 100px; height: 70px; background-color: #27272f; color: #fff; transform: translateY(-50%); } 
#location a.page-move::after { position: absolute; top: 50%; left: 50%; width: 28px; height: 9px; background: url(../img/sp_com.png) no-repeat -64px -30px; transform: translate(-50%, -50%); transition: all .3s; content: ''; } 
#location a.page-move:hover::after { left: 60%; } 

/* LogoRoll */
#logo-roll { padding: 40px 0; } 
#logo-roll div.banner-slide { float: right; width: 1190px; position: relative; box-sizing: border-box; } 
#logo-roll div.banner-slide div.box { position: relative; height: 80px; overflow: hidden; } 
#logo-roll div.banner-slide ul.banner { position: absolute; top: 0; left: 0; width: 3000px; } 
#logo-roll div.banner-slide ul.banner li { float: left; padding: 5px 0; margin: 0 10px; } 
#logo-roll div.banner-slide ul.banner li a { display: block; } 
#logo-roll div.banner-slide p.control { position: absolute; top: 50%; left: -200px; width: 140px; transform: translateY(-50%); } 
#logo-roll div.banner-slide p.control a { text-indent: -9999px; overflow: hidden; } 
#logo-roll div.banner-slide p.control a.prev { float: left; width: 32px; height: 6px; background: url(../img/sp_com.png) no-repeat -244px -2px; } 
#logo-roll div.banner-slide p.control a.next { float: right; width: 32px; height: 6px; background: url(../img/sp_com.png) no-repeat -244px -10px; } 
#logo-roll div.banner-slide p.control a.play { position: absolute; left: 50%; width: 12px; height: 14px; background: url(../img/sp_com.png) no-repeat -288px 0; transform: translateX(-50%); } 
#logo-roll div.banner-slide p.control a.play.on { background: url(../img/sp_com.png) no-repeat -276px 0; } 

/* Media */
@media (max-width: 1580px){
 #visual div.video-box a { display: none; } 
 #visual div.quick-menu div.text-box em { font-size: 7rem; } 
 #visual div.quick-menu div.text-box span { font-size: 4rem; } 
 #main { padding: 0; } 
 div.title-box { left: 15px; } 
 }
@media (max-width: 1360px){
 #visual { position: relative; height: calc(100vh - 100px); min-height: 812px;} 
 #visual div.video-box { top: 0; height: calc(100% - 100px); } 
 #visual div.quick-menu.on { width: 85%; } 
 #visual div.quick-menu > a { transform: translate(0, -100%); } 
 #visual div.quick-menu div.text-box { transform: translate(0, -100%); } 
 #visual div.quick-menu.on div.icon-box { transform: translate(0, -90%); } 
 #visual div.quick-menu div.icon-box ul { text-align: right; } 
 #visual div.quick-menu div.icon-box ul li { width: 18%; } 
 #event { width: 60%; } 
 #event ul li { padding-right: 15px; } 
 #banner { width: 40%; } 
 }
@media (max-width: 1200px){
 #visual { width: auto; } 
 #visual div.video-box { display: none; } 
 #visual div.quick-menu { width: 100%; } 
 #visual div.quick-menu.on { width: 100%; } 
 #visual div.quick-menu::after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/bg_link.png) no-repeat 0 100%; content: ''; } 
 #visual div.quick-menu > a { display: none; } 
 #visual div.quick-menu div.text-box span.text01 { display: none; } 
 #visual div.quick-menu div.text-box span.text02 { display: block; } 
 #visual div.quick-menu div.icon-box { visibility: visible; transform: translate(0, -90%); } 
 #visual div.dokdo-img { right: -100px; background-size: 100%; background-position: 100% 100%; } 
 #visual div.dokdo-img::after { background-size: 35%; } 
 #live { display: none; } 
 #magazin, #location { width: 50%; } 
 }
@media (max-width: 1100px){
 #visual div.quick-menu div.text-box { top: 0; left: 50px; transform: translate(0, 90px); } 
 #visual div.quick-menu div.text-box span p { display: inline-block; } 
 #visual div.quick-menu div.icon-box { top: 0; left: 50%; width: 90%; transform: translate(-50%, 280px); } 
 #visual div.quick-menu.on div.icon-box { transform: translate(-50%, 280px); } 
 #visual div.quick-menu div.icon-box ul { text-align: left; } 
 #visual div.quick-menu div.icon-box ul li { width: calc(100% / 7); } 
 }
@media (max-width: 1024px){
 #notice dl dd > a { width: 100%; height: auto; padding-bottom: 20px; } 
 #notice dl dd > a + a { padding-top: 10px; border-top: 1px dashed #e1e1e1; } 
 #notice dl dd > a strong.title span { height: auto; -webkit-line-clamp: 1 } 
 #notice dl dd > a p.text { height: auto; -webkit-line-clamp: 1; } 
 #notice dl dd > a span.date { display: block; padding-top: 5px; position: static; } 
 #event, #banner { width: 100%; } 
 #banner div.title-box, #magazin div.title-box { margin-left: 0; } 
 #banner div.banner-slider { margin-left: 222px; } 
 #banner div.banner-slider p.control { bottom: 60px; left: 15px; } 
 #magazin div.title-box a.more-btn { right: 0; } 
 }
@media (max-width: 768px){
 #visual div.quick-menu div.text-box em { font-size: 6.5rem; } 
 #visual div.quick-menu div.text-box span { font-size: 3.7rem; } 
 #visual div.quick-menu div.icon-box { transform: translate(-50%, 300px); } 
 #visual div.quick-menu div.icon-box ul li { width: calc(100% / 5); } 
 }
@media (max-width: 610px){
 #visual div.quick-menu div.text-box { transform: translate(0, 50px); } 
 #visual div.quick-menu div.icon-box { transform: translate(-50%, 250px); } 
 #visual div.quick-menu div.icon-box ul li { width: calc(100% / 4); } 
 #notice { background: #f9fafa; } 
 #notice div.title-box { display: none; } 
 #notice dl { margin-left: 0; padding-left: 115px; } 
 #notice dl dd { padding: 70px 10px 70px 30px; } 
 #notice dl dt, #notice dl dt.on { left: 0; } 
 #event ul li { width: 100%; padding-right: 0; } 
 #event ul li + li { padding-top: 10px; } 
 #magazin, #location { width: 100%; } 
 #location { padding: 65px 0 0 15px; } 
 }
@media (max-width: 530px){
 #visual div.quick-menu div.text-box em { font-size: 5rem; } 
 #visual div.quick-menu div.text-box span { font-size: 3rem; } 
 #visual div.quick-menu div.icon-box,
 #visual div.quick-menu.on div.icon-box { transform: translate(-50%, 220px); } 
 #visual div.quick-menu div.icon-box ul li { margin: 15px 0; } 
 }
@media (max-width: 500px){
 #visual { margin-left: 50px; } 
 #visual div.quick-menu div.text-box { left: 15px; } 
 #visual div.quick-menu div.text-box em { font-size: 4rem; } 
 #visual div.quick-menu div.text-box span { font-size: 2.7rem; } 
 #visual div.quick-menu div.icon-box { width: 100%; } 
 }
@media (max-width: 420px) { div.title-box { position: static; padding: 25px 15px; } 
 div.title-box p { display: none; } 
 div.title-box a.more-btn { position: absolute; top: 20px; right: 15px; } 
 #visual { height: calc(100vh - 70px); } 
 #visual div.quick-menu div.icon-box ul li { width: calc(100% / 3); } 
 #banner div.banner-slider { margin-left: 15px; } 
 #banner div.banner-slider p.control { top: 15px; bottom: auto; left: auto; right: 15px; width: 180px; } 
 }
@media (max-width: 370px){
 #event ul { padding: 0 15px; margin: 0; } 
 }

/* Keyrames */
@keyframes cloud { 
 0% { transform: translateY(0); } 
50% { transform: translateY(-10px); } 
100% { transform: translateY(0); } 
 }
